<h1>List of food items</h1>

<table class="table table-striped table-bordered">
<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Cuisine</th>
        <th>Description</th>
        <th>Offers</th>
        

    </tr>
</thead>

<tbody>
    <tr >
        <td>{{food.id}}</td>
        <td>{{food.name}}</td>
        <td>{{food.price}}</td>
        <td>{{food.cuisine}}</td>
        <td>{{food.description}}</td>
        <td>{{food.offers}}</td>
    </tr>
</tbody>
</table>
<app-payment></app-payment>
