<div class="container-fluid bg-primary text-center text-white">
  <h1>FOOD-BOX</h1>
</div>
<ul class="nav navbar ">

<li class="nav-item bg-dark text-white">
  <a class="nav-link " routerLink="register">Register user</a>
</li>
<li class="nav-item bg-dark text-white">
  <a class="nav-link " routerLink="login">Login</a>
</li>
<li class="nav-item bg-dark text-white">
  <a class="nav-link " routerLink="admlogin"  >Admin</a>
</li>
</ul>

<router-outlet></router-outlet>


<footer class = "footer">
  <div class = "container-fluid bg-primary">
      <span>All Rights Reserved 2022 @Foodbox</span><br>
      <span>Developed by AjithKumar</span>
</div>
</footer>