<div class="row">

    <div class="card col-md-6 offset-md-3et-md-3">
        <div class="row">
            <h3 class="text-center bg-danger"> Admin Login</h3>
            <hr/>
            <div class="card-body">
            
            <form (ngSubmit)="onSubmit()">

            <div>
                <label>Username</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="admin.name" name="name">
            </div>
            <div>
                <label>Password</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="admin.password" name="password">
            </div>
                     
        <br>
        <button (click)="login(admin.name)"  class="btn btn-success" type="submit">Login</button>
            </form>
        
            </div>
        </div>
    </div>
        </div>
